body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.media-body{
    display: flex;
    flex-direction: column;
}
i{
    padding: 10px;
}


/* #id{
    background-color: white;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}
.upper{
    background-color: blueviolet;
    display:flex;
    height: 250px;
    width: 250;

}
.photo{
    background-color: pink;
}
.personalInfo{
    background-color: greenyellow;
}
.personalData{
    background-color: purple;
}
.socialMedia{
    background-color: grey;
}
.lower{
    background-color: orange;
} */
